/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body, p {
    color: $main-text-color;
}

.street-butcherstore {
    color: #a72da3;
}

.complex-butcherstore {
    color: #d68000;
}

